<!DOCTYPE html>

<html>
<head>
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>气候的变迁</title>
<link rel="shortcut icon" type="image/x-icon" href="http://demo.nicebox.cn/b971994570d5bb9b/img/upimages/favicon.ico">
<!-- 启用极速模式(webkit) -->
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<!--  -->

<meta name="KeyWords" content="联系">
<meta name="description" content="联系">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="full-screen" content="yes">
<!-- SEO友好提示 -->
<meta name="applicable-device" content="pc,mobile">
<!--[if lt IE 9]>
<script type="text/javascript" src="/js/comm/html5shiv.js"></script>
<script type="text/javascript" src="/js/comm/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="{% static './js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static './js/jquery.lazyload.min.js' %}"></script>
    <script type="text/javascript" src="{% static './js/jquery.nicescroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static './js/ubox.js' %}" charset="utf-8"></script>


</head>

<body>
<div style="display: none; z-index: 2147483640; top: 0px; left: 0px; position: fixed; height: 100%; width: 100%;"></div>
<div id="idBox" class="lightbox" style="display: none; z-index: 2147483647;">	
<div id="boxMain">
		<div id="boxTopTitle">
					<span id="boxName">显示框</span>
								<span id="boxClose" title="关闭" onclick="box.Close();">×
										</span></div>
											<div id="boxContent">
											<iframe id="showiframe" src="{% static './images/saved_resource.html'%}" frameborder="0" style="width:100%;"></iframe>
																	</div>
																		</div>
																		</div>
    <script type="text/javascript" src="{% static './js/wow.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static './js/010622.js' %}" charset="utf-8"></script>
    <link href="{% static './css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/animate.min.css'%}">
    <link rel="stylesheet" href="{% static './css/box.css'%}">
    <link rel="stylesheet" href="{% static './css/010622.css'%}">
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
var DIY_WEBSITE_ID = "719";
var DIY_JS_SERVER = "s143js.nicebox.cn";
</script>


	<script type="text/javascript">var Default_isFT = 0;</script>
    <script type="text/javascript" src="{% static './js/transform.js' %}" charset="utf-8"></script>
 	
			
			
<div id="layout_diy_1494233234" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
				<div class="view_contents">
								<div id="image_style_01_1494233280647" class="view style_01 image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
				<div class="view_contents">
					<div class="imgStyle CompatibleImg">
    <img class="picSet link-type-" src="{% static './images/20170509174102923.jpg' %}" title="" alt="描述" id="imageModeShow">	
            </div>
			</div>
			</div>
			<div id="div_includeBlock_1494233334484" class="view includeBlock div  none includeView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
				<div class="view_contents">
				<div id="text_style_10_1494233465713" class="view style_10 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
				<div class="view_contents">
					唯 爱与美食 &nbsp; &nbsp; 不可辜负

				</div>
			    </div>
			    
			    

<div id="dh_style_01_1494233485243" class="view style_01 dh  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
<div class="view_contents">
<script></script>
<div id="menu" class="menu menuStyle_1">
	<div class="menuLayout">
		<ul class="miniMenu columnSet">
			<li class="leftBox">
				<div class="nav"></div>
				<div class="sidebar icoMenuSet" onclick="setDhListen(&#39;style_01&#39;,this)">=</div>
				<div class="menuScroll">
					<ul class="menuUlCopy">
		                    	<li class="rflex"><a class="mainMenuSet" href="http://localhost:8000/Taste/Home">首页</a>		
		                    	</li>
		                    	<li id="hot" class="rflex"><a class="mainMenuSet" href="http://localhost:8000/Taste/a1">气候的变迁</a>				
		                    	</li>
		                    	<li class="rflex"><a class="mainMenuSet" href="http://localhost:8000/Taste/j1">美食的散布</a>
		                    	</li>
		                    	<li class="rflex"><a class="mainMenuSet" href="http://localhost:8000/Taste/n1">时代的轨迹</a>
		                    	</li>
		                    	<li class="rflex"><a class="mainMenuSet" href="http://localhost:8000/Taste/o1">为你而生</a>
		                    	</li>
					</ul>
				</div>
			</li>
		</ul>
		<div class="menuUl_box columnSet">
			<ul class="menuUl dflex">
                        <li class="rflex">
		                    <a class="mainMenuSet" href="http://localhost:8000/Taste/Home">首页</a>
		                </li>
                    	<li id="hot" class="rflex">
		                    <a  class="mainMenuSet" href="http://localhost:8000/Taste/a1">气候的变迁</a>
		                </li>
                    	<li class="rflex">
		                    <a class="mainMenuSet" href="http://localhost:8000/Taste/j1">美食的散布</a>
		                </li>
                    	<li class="rflex">
		                    <a class="mainMenuSet" href="http://localhost:8000/Taste/n1">时代的轨迹</a>
		                </li>
                    	<li class="rflex">
		                    <a class="mainMenuSet" href="http://localhost:8000/Taste/o1">为你而生</a>
		                </li>
			</ul>
		</div>
	</div>
</div>
<!-- 菜单区域 End-->
				</div>
			</div>
				
				
				
					<div id="user_style_05_1494242173571" class="view style_05 user  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
				<div class="view_contents">
<!---菜单区域--->


 

<!--弹窗登录 PopupLogin -->
<div id="UserLoginMain" class="PopUpLogin PopUpLoginStyle_1">
	<div id="popUpLogin-t" class="Login_before">
		<ul class="v9_hide_if_logined">
			<li class="showpLogin"><a href="http://demo.nicebox.cn/b971994570d5bb9b/contact.html#" class="textSet" onclick="OnLogin(0);">登录</a></li>
			<li class="w">|</li>
			<li class="showpRegistered"><a href="javascript:void(0)" class="textSet" onclick="OnRegister(0);">注册</a></li>

			
			<div style="display:inline-block"><span id="userQQLi" class="LoginStatic"><img width="16" src="{% static './images/qq.png' %}" href="javascript:void(0)" title="QQ登录" id="idQQlogin" align="absmiddle"></span></div>
			
			
			<div style="display:inline-block"><span id="userWXLi" class="LoginStatic"><img width="22" src="{% static './images/wx.png' %}" href="javascript:void(0)" title="微信登录" id="idWXlogin" align="absmiddle"></span></div>
			
		</ul>
	</div>
    <!--登录后显示-->
    <div class="Login_after" style="display: none;"></div>
</div>

<script src="{% static './js/userloginView.js' %}"></script>
<script src="{% static './js/login_html_v9_diy.php' %}"></script>
		</div>
	</div>
					<div id="text_style_02_1494325759470" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
				<div class="view_contents">
					Pizza
				</div>
			</div>
					<div id="image_style_01_1494382114434" class="view style_01 image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
				<div class="view_contents">
					<div class="imgStyle CompatibleImg">
			<img class="picSet link-type-" src="{% static './images/logo_bg1.png'%}" title="" alt="描述" id="imageModeShow">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--登陆组件-->
	
	
	
	
	
	
		<div id="layout_1494233265650" class="layout " data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
				<div class="view_contents">
								<div id="div_includeBlock_1494234289532" class="view includeBlock div  none includeView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
				<div class="view_contents">
			</div>
			</div>
			</div>
			</div>
		<div id="layout_1494242786328" class="layout " data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
				<div class="view_contents">
								<div id="homelink_style_01_1494242787677" class="view style_01 homelink  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
				<div class="view_contents">
					<ol class="breadcrumb location_style01">
	<li>
		<a class="textSet" href="http://localhost:8000/Taste/Home" onclick="">
		首页</a>
	</li>
	<li>
		<a class="textSet" href="http://localhost:8000/Taste/a1" onclick="" >
		气象站点</a>
	</li>
	<li>
		<a class="textSet" href="http://localhost:8000/Taste/b2" onclick="">
		日照</a>
	</li>
    <li>
		<a class="active textSet" href="http://localhost:8000/Taste/c3" onclick=""style="text-shadow: 2px 2px 8px #ff3300">
		温度</a>
	</li>
    <li>
		<a class="textSet" href="http://localhost:8000/Taste/d4" onclick="">
		湿度</a>
	</li>


</ol>		
</div>
</div>
</div>
</div>
<!--横向导航栏-->



<!--功能实现容器-->
<div id="layout_1494243362165" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1" style="height: 900px;">
      
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/4.11/esri/themes/dark/main.css">
    <script type="text/javascript" src="https://js.arcgis.com/4.11/"></script>
    <style>
      html, body, #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
      }

      #sidebar {
        position: absolute;
        top: 0;
        right: 0;
        height: 85%;
        width: 320px;
        font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
        overflow-y: auto;
      }

      .label {
        color: white;
      }

      #HotFoodMapButton {
        font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
        border: none;
        background-color: rgba(229, 89, 52, 0.75);
        color: #fff;
        margin: 1px;
        width: 50%;
        padding: 10px;
        overflow: auto;
        text-align: center;
        cursor: pointer;
        font-size: 1em;
      }
    </style>

<script type="text/javascript">
		require([
			"esri/Map",
			"esri/views/MapView",
			"esri/tasks/Geoprocessor",
			"esri/widgets/Legend",
			"esri/layers/support/ImageParameters"
			], function(Map, MapView, Geoprocessor, Legend, ImageParameters) {
				document.getElementById("HotFoodMapButton").addEventListener("click", Kriging);
				
				var message = document.getElementById("message");

				var map = new Map({
					basemap: "streets-vector"
				});

				var view = new MapView({
					container: "viewDiv",
					map: map,
					center: [110.812, 35.474],
					zoom: 4
				});

				var gpUrl = "http://localhost:6080/arcgis/rest/services/Wendu/GPServer/wendu";

				var gp = new Geoprocessor(gpUrl);

				gp.outSpatialReference = {
					wkid: 2432
				};

				function Kriging() {
					var params = {
						final: "final"
					};

					cleanup();
					gp.submitJob(params).then(drawResultData, errBack, progTest);
				}

				/*
				function buildDefinitionQuery() {
					var defQuery;

					var startDate = "1998-01-01 00:00:00";
					var endDate = "1998-05-31 00:00:00";
					var def = [];
					def.push(
						"(Date >= date '" + startDate + "'and Date <= date'" + endDate + "')"
					);

					if (def.length > 1) {
						defQuery = def.join("AND");
					}

					return defQuery;
				}
				*/

				function cleanup() {
					map.layers.forEach(function(layer, i) {
						if (layer.title == "HotFoodMap") {
							map.layers.remove(layer);
						}
					});
				}

				function drawResultData(result) {
					message.innerText = "Adding MapImageLayer to the map...";
					var imageParams = new ImageParameters({
						format: "png32",
						imageSpatialReference: {
							wkid: 2432
						},
						dpi: 300
					});

					var resultLayer = gp.getResultMapImageLayer(result.jobId);
					resultLayer.opacity = 0.75;
					resultLayer.title = "HotFoodMap";

					map.layers.add(resultLayer);

					
					resultLayer.on("layerview-create", function() {
						message.innerText = "Job status: 'job-succeeded'";
						
						var legend = new Legend({
							view: view,
							container: "legendDiv"
						});
						
					});

				}

				function progTest(value) {
					message.innerText = "Job status:" + "'" + value.jobStatus + "'";
					console.log(value, jobStatus);
				}

				function errBack(error) {
					message.innerText = "";
					console.log("gp error: ", error);
				}
			});
	</script>

	<div id="viewDiv">
    	<div id="sidebar" class="esri-widget">
        	<div id="text">
          		<div id="info">
            		<div style="padding-bottom:20px; padding-left:10px;">
              			<br />
              			<label class="label">From: 01/01/1998</label><br />
              			<br /><br />
              			<label class="label">To: 05/31/1998</label><br />
            		</div>
            		<div align="center">
            			<br />
            			<button id="HotFoodMapButton" class="esri-widget">
            				Create Hot Food Map
             			</button>
            		</div>
            		<div style="padding-bottom:20px; padding-left:10px;">
              			<br /><br />
              			<label id="message" class="label"></label>
            		</div>
            		<div id="legendDiv" class="esri-widget"></div>
        		</div>
    		</div>
      	</div>
    </div>


</div>

<!--foot组件-->	
<div id="comm_layout_footer" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"></div>
		
</body>
</html>